<div class="row">
  <div class="col-md-12">
    <hr><br>
    <h2>Categories</h2>
    <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
              <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
              <td>
                <a href="categories/delete/{{id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?');">Remove</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{#unless categories.length}}
      <div class="col-md-12 text-center">
        <strong>No categories available</strong>
      </div>
    {{/unless}}
  </div>
</div>
